<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <filter>
        <filter-name>ManagerAuthFilter</filter-name>
        <filter-class>WolfiesReservation.Manager.ManagerAuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EmployeeAuthFilter</filter-name>
        <filter-class>WolfiesReservation.Employee.EmployeeAuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CustomerAuthFilter</filter-name>
        <filter-class>WolfiesReservation.Customer.CustomerAuthFilter</filter-class>
    </filter>

    <servlet>
        <servlet-name>MailingList</servlet-name>
        <servlet-class>WolfiesReservation.Employee.MailingList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>WolfiesReservation.Employee.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerList</servlet-name>
        <servlet-class>WolfiesReservation.Employee.EditCustomerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>WolfiesReservation.Employee.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerTransaction</servlet-name>
        <servlet-class>WolfiesReservation.Employee.EditCustomerTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerList</servlet-name>
        <servlet-class>WolfiesReservation.Employee.DeleteCustomerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>WolfiesReservation.Employee.DeleteCustomer</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>FlightSuggestionList</servlet-name>
        <servlet-class>WolfiesReservation.Employee.FlightSuggestionList</servlet-class>
    </servlet>    
        
    <servlet>
        <servlet-name>ManageEmployee</servlet-name>
        <servlet-class>WolfiesReservation.Manager.ManageEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>WolfiesReservation.Manager.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveFlights</servlet-name>
        <servlet-class>WolfiesReservation.Manager.ActiveFlights</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprehensiveEmployees</servlet-name>
        <servlet-class>WolfiesReservation.Manager.ComprehensiveEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployee</servlet-name>
        <servlet-class>WolfiesReservation.Manager.EditEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SummaryByFlight</servlet-name>
        <servlet-class>WolfiesReservation.Manager.SummaryByFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SummaryByCustomer</servlet-name>
        <servlet-class>WolfiesReservation.Manager.SummaryByCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SummaryByCity</servlet-name>
        <servlet-class>WolfiesReservation.Manager.SummaryByCity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationsByFlight</servlet-name>
        <servlet-class>WolfiesReservation.Manager.ReservationsByFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationsByCustomer</servlet-name>
        <servlet-class>WolfiesReservation.Manager.ReservationsByCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonthlyReport</servlet-name>
        <servlet-class>WolfiesReservation.Manager.MonthlyReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightsByAirport</servlet-name>
        <servlet-class>WolfiesReservation.Manager.FlightsByAirport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eotm</servlet-name>
        <servlet-class>WolfiesReservation.Manager.Eotm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesByName</servlet-name>
        <servlet-class>WolfiesReservation.Manager.EmployeesByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesByStart</servlet-name>
        <servlet-class>WolfiesReservation.Manager.EmployeesByStart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesByNumber</servlet-name>
        <servlet-class>WolfiesReservation.Manager.EmployeesByNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersByFlight</servlet-name>
        <servlet-class>WolfiesReservation.Manager.CustomersByFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelayedFlights</servlet-name>
        <servlet-class>WolfiesReservation.Manager.DelayedFlights</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>Cotm</servlet-name>
        <servlet-class>WolfiesReservation.Manager.Cotm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprehensiveFlights</servlet-name>
        <servlet-class>WolfiesReservation.Manager.ComprehensiveFlights</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>WolfiesReservation.CustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeLogin</servlet-name>
        <servlet-class>WolfiesReservation.EmployeeLogin</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>FindFlights</servlet-name>
        <servlet-class>WolfiesReservation.Customer.FindFlights</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select_flight</servlet-name>
        <servlet-class>WolfiesReservation.Customer.select_flight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelCustomerReservation</servlet-name>
        <servlet-class>WolfiesReservation.Customer.CancelCustomerReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerReservation</servlet-name>
        <servlet-class>WolfiesReservation.Customer.DeleteCustomerReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookMe</servlet-name>
        <servlet-class>WolfiesReservation.Customer.bookMe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerCurrentReseravations</servlet-name>
        <servlet-class>WolfiesReservation.Customer.customerCurrentReseravations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravelGivenReservation</servlet-name>
        <servlet-class>WolfiesReservation.Customer.TravelGivenReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerBidReverseAuction</servlet-name>
        <servlet-class>WolfiesReservation.Customer.customerBidReverseAuction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bidHistoryGivenReverseAuction</servlet-name>
        <servlet-class>WolfiesReservation.Customer.bidHistoryGivenReverseAuction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historyAllReservations</servlet-name>
        <servlet-class>WolfiesReservation.Customer.historyAllReservations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSellerFlights</servlet-name>
        <servlet-class>WolfiesReservation.Customer.BestSellerFlights</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalizedFlight</servlet-name>
        <servlet-class>WolfiesReservation.Customer.PersonalizedFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>directFlightValidation</servlet-name>
        <servlet-class>WolfiesReservation.Customer.directFlightValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindFlights2</servlet-name>
        <servlet-class>WolfiesReservation.Customer.FindFlights2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>directFlightValidation2</servlet-name>
        <servlet-class>WolfiesReservation.Customer.directFlightValidation2</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>CustSelectPath</servlet-name>
        <servlet-class>WolfiesReservation.Customer.CustSelectPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidAuction</servlet-name>
        <servlet-class>WolfiesReservation.Customer.BidAuction</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>BidHistory</servlet-name>
        <servlet-class>WolfiesReservation.Customer.BidHistory</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>ComprehensiveAuctions</servlet-name>
        <servlet-class>WolfiesReservation.Customer.ComprehensiveAuctions</servlet-class>
    </servlet>               
    <servlet>
        <servlet-name>CurrentBids</servlet-name>
        <servlet-class>WolfiesReservation.Customer.CurrentBids</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>EmplSelectPath</servlet-name>
        <servlet-class>WolfiesReservation.Employee.EmplSelectPath</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>RecordReservation</servlet-name>
        <servlet-class>WolfiesReservation.Employee.RecordReservation</servlet-class>
    </servlet>      
    <servlet-mapping>
        <servlet-name>EmployeeLogin</servlet-name>
        <url-pattern>/EmployeeLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    
<servlet-mapping>
        <servlet-name>MailingList</servlet-name>
        <url-pattern>/employee/MailingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/employee/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerList</servlet-name>
        <url-pattern>/employee/EditCustomerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/employee/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerTransaction</servlet-name>
        <url-pattern>/employee/EditCustomerTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerList</servlet-name>
        <url-pattern>/employee/DeleteCustomerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/employee/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightSuggestionList</servlet-name>
        <url-pattern>/employee/FlightSuggestionList</url-pattern>
    </servlet-mapping>
        
    
    <servlet-mapping>
        <servlet-name>ActiveFlights</servlet-name>
        <url-pattern>/manager/ActiveFlights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprehensiveEmployees</servlet-name>
        <url-pattern>/manager/ComprehensiveEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SummaryByFlight</servlet-name>
        <url-pattern>/manager/SummaryByFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SummaryByCustomer</servlet-name>
        <url-pattern>/manager/SummaryByCustomer</url-pattern>
    </servlet-mapping>     
    <servlet-mapping>
        <servlet-name>SummaryByCity</servlet-name>
        <url-pattern>/manager/SummaryByCity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationsByFlight</servlet-name>
        <url-pattern>/manager/ReservationsByFlight</url-pattern>
    </servlet-mapping>      
    <servlet-mapping>
        <servlet-name>ReservationsByCustomer</servlet-name>
        <url-pattern>/manager/ReservationsByCustomer</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>MonthlyReport</servlet-name>
        <url-pattern>/manager/MonthlyReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightsByAirport</servlet-name>
        <url-pattern>/manager/FlightsByAirport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eotm</servlet-name>
        <url-pattern>/manager/Eotm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesByName</servlet-name>
        <url-pattern>/manager/EmployeesByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesByStart</servlet-name>
        <url-pattern>/manager/EmployeesByStart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesByNumber</servlet-name>
        <url-pattern>/manager/EmployeesByNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/manager/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployee</servlet-name>
        <url-pattern>/manager/EditEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEmployee</servlet-name>
        <url-pattern>/manager/ManageEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelayedFlights</servlet-name>
        <url-pattern>/manager/DelayedFlights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersByFlight</servlet-name>
        <url-pattern>/manager/CustomersByFlight</url-pattern>
    </servlet-mapping>       
    <servlet-mapping>
        <servlet-name>Cotm</servlet-name>
        <url-pattern>/manager/Cotm</url-pattern>
    </servlet-mapping>     
    <servlet-mapping>
        <servlet-name>ComprehensiveFlights</servlet-name>
        <url-pattern>/manager/ComprehensiveFlights</url-pattern>
    </servlet-mapping>   
    
    <servlet-mapping>
        <servlet-name>FindFlights</servlet-name>
        <url-pattern>/customer/FindFlights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select_flight</servlet-name>
        <url-pattern>/customer/select_flight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelCustomerReservation</servlet-name>
        <url-pattern>/customer/CancelCustomerReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerReservation</servlet-name>
        <url-pattern>/customer/DeleteCustomerReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookMe</servlet-name>
        <url-pattern>/customer/bookMe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerCurrentReseravations</servlet-name>
        <url-pattern>/customer/customerCurrentReseravations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravelGivenReservation</servlet-name>
        <url-pattern>/customer/TravelGivenReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerBidReverseAuction</servlet-name>
        <url-pattern>/customer/customerBidReverseAuction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bidHistoryGivenReverseAuction</servlet-name>
        <url-pattern>/customer/bidHistoryGivenReverseAuction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historyAllReservations</servlet-name>
        <url-pattern>/customer/historyAllReservations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSellerFlights</servlet-name>
        <url-pattern>/customer/BestSellerFlights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalizedFlight</servlet-name>
        <url-pattern>/customer/PersonalizedFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>directFlightValidation</servlet-name>
        <url-pattern>/customer/directFlightValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindFlights2</servlet-name>
        <url-pattern>/customer/FindFlights2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>directFlightValidation2</servlet-name>
        <url-pattern>/customer/directFlightValidation2</url-pattern>
    </servlet-mapping>
    
    <filter-mapping>
        <filter-name>ManagerAuthFilter</filter-name>
        <url-pattern>/manager/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeAuthFilter</filter-name>
        <url-pattern>/employee/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerAuthFilter</filter-name>
        <url-pattern>/customer/*</url-pattern>
    </filter-mapping>
    
    <servlet-mapping>
        <servlet-name>CustSelectPath</servlet-name>
        <url-pattern>/customer/CustSelectPath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidAuction</servlet-name>
        <url-pattern>/customer/BidAuction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidHistory</servlet-name>
        <url-pattern>/customer/BidHistory</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>ComprehensiveAuctions</servlet-name>
        <url-pattern>/customer/ComprehensiveAuctions</url-pattern>
    </servlet-mapping>         
    <servlet-mapping>
        <servlet-name>CurrentBids</servlet-name>
        <url-pattern>/customer/CurrentBids</url-pattern>
    </servlet-mapping>             
        <servlet-mapping>
        <servlet-name>EmplSelectPath</servlet-name>
        <url-pattern>/employee/EmplSelectPath</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>RecordReservation</servlet-name>
        <url-pattern>/employee/RecordReservation</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    se
    
    </web-app>
